Optimisation : 

    pip install tqdm
    pip install pandas
    pip install scipy
    pip install python-calamine


Statistique : 

    pip install seaborn
    pip install plotly
    pip install statsmodels
    pip install xlsxwriter
    pip install -U kaleido
    pip install openpyxl


    
    pip install nbformat


Excecutable :






